/* General Styling */
body {
  font-family: 'Open Sans', Arial, sans-serif; /* Clean and modern font */
  margin: 20px;
  background-color: #f8f9fa;
  color: #333; /* Darker text for readability */
  line-height: 1.6; /* Space between lines */
  font-size: 18px; /* Base font size for the body */
}

body, table, h1, h2, th, td {
  font-weight: 500; /* Slightly thickens text */
}

table tbody tr:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

/* Best Bet Section */
#best-bet {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#best-bet h2 {
  color: #3b05ed;
}

footer {
  margin-top: 50px;
  padding: 20px;
  background-color: #f8f9fa; /* Light background color */
  text-align: center;
  font-size: 0.9em; /* Slightly smaller text */
  color: #555; /* Muted text color */
  border-top: 1px solid #ddd; /* Subtle border to separate from main content */
}

/* Title Styling */
h1 {
  text-align: center;
  color: #343a40;
  font-size: 32px; /* Make the main title larger */
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  color: #3b05ed; /* Blue to differentiate headings */
  font-size: 28px;
  margin-bottom: 15px;
}

h1, h2 {
  font-weight: 600; /* Makes headings bolder */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* About Section Styling */
#about {
  width: 80%;
  margin: 20px auto; /* Centers the section horizontally */
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center; /* Center-aligns the text */
}

#about p {
  line-height: 1.6;
  font-size: 18px;
  color: #495057;
}

/* Table Styling */
table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px; /* Rounds the corners slightly */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Ensures corners stay rounded even with table overflow */
}

table img {
  border-radius: 50%;
}

th, td {
  text-align: center;
  padding: 15px; /* Add more padding for readability */
  font-size: 18px; /* Larger text for table data */
  border: 1px solid #ddd;
}

th {
  background-color: #3b05ed;
  color: white;
  font-weight: bold;
}

td {
  color: #495057;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e9ecef;
}

#top-10 {
  width: 90%;
  margin: 20px auto;
}

#top-10 table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

#top-10 th, #top-10 td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

#top-10 th {
  background-color: #3b05ed;
  color: white;
}

#profit, #holding-time {
    text-align: center;
    margin: 20px auto;
    font-weight: bold;
}
